{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Welcome to the Library</h1>
                <p>We have a wide range of books and resources to suit all ages and interests. Whether you're a student, researcher, or just an avid reader, we've got something for you.</p>
                <p>Our library is open to everyone and offers a variety of services, including:</p>
                <ul>
                    <li>Borrowing books and other materials</li>
                    <li>Using computers and other equipment</li>
                    <li>Accessing online resources and databases</li>
                    <li>Attending events and workshops</li>
                </ul>
                <p>Visit us today and see what we can offer you!</p>
            </div>
            <div class="col-md-4">
                <img src="library.jpg" alt="Library" class="img-fluid">
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
{% endblock %}